* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

$color-primary_pink: #F7B09C;
$color-primary_blå: #A5BFB3;
$color-primary_gul: #E8B665;
$color-secondary_beige: #EFE9DB;
$color-secondary_offwhite: #F6F6EE;
$color-secondary_white: #FFFFFF;
$color-hover:#CCCCCC;


body {
  font-size: 1rem;
  background-color: $color-secondary_offwhite;
}

/* header */
.header {
  position: relative;
  width: 100%;
  height: 30vh;
  background-color: $color-primary_pink;
  display: flex;
  position: relative;
  overflow: hidden;
}

.logo {
  width: auto;
  height: 20vh;
  padding: 5%;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  margin: 0%;
}

.header_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  gap: 1rem;
  padding-bottom: 10%;
  margin-top: 5%;
}

.header_link a {
  color: $color-secondary_white;
  font-size: 2.5em;
  font-family: "Karla", sans-serif;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 5%;
}

.header_link a:link, .header_link a:visited {
  color: $color-secondary_white;
  text-decoration: none;
}

.header_link a:hover, .header_link a:focus {
  color: $color-hover;
  text-decoration: none;
}

/* intro */
.baggrund_intro {
  background-color: $color-secondary_white;
  height: 80vh;
}

.indhold_intro {
  display: flex;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}

.container_intro {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.overskrift_1, .overskrift_2 {
  font-size: 2.5rem;
}

.overskrift_1 {
  color: $color-primary_pink;
  font-family: "Karla", sans-serif;
}

.overskrift_2 {
  color: $color-secondary_beige;
  font-family: "Rock Salt";
}

.intro_text {
  padding-top: 5%;
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  color: $color-primary_pink;
  z-index: 100;
}

.form {
  position: absolute;
  margin-top: 10%;
  left: 50%;
  z-index: 1;
}

.form img {
  width: 34rem;
}

/* striber */
.vandfald {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 0%;
  z-index: 1;
}

.vandfald_1 {
  position: absolute;
  margin-top: 32%;
}

.video_1, .baggrund_cases, .baggrund_kontakt, .footer {
  position: relative;
  z-index: 2;
}

/* Hvem er vi */
.baggrund_hvem {
  background-color: $color-secondary_offwhite;
}

.container_1 {
  position: relative;
}

.container_2 {
  position: relative;
  margin-bottom: 2%;
}

.hvem {
  font-family: "Rock Salt";
  font-size: 2rem;
  color: $color-primary_pink;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.parent-container_1 {
  position: relative;
  height: 60vh;
  padding-top: 1%;
  margin: 0%;
}

.rektangel_1 {
  position: absolute;
  margin-left: 0%;
  margin-right: 0%;
  height: 50vh;
  width: 100%;
  z-index: 2;
}

.vandfarve_effekt_1 {
  position: absolute;
  width: 40vw;
  height: auto;
  z-index: 3;
}

.profil-photo_1 {
  width: 18vw;
  height: 40vh;
  margin-left: 10%;
  top: 10%;
  position: absolute;
  z-index: 4;
}

.container_profil_1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding-left: 50%;
  padding-top: 5%;
  z-index: 5;
}

.navn_1, .bio_1 {
  display: block;
  width: 100%;
}

.navn_1 {
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  color: $color-secondary_beige;
}

.bio_1 {
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  color: $color-secondary_white;
}

.parent-container_2 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 0%;
  margin-right: 0%;
  height: 60vh;
  padding-top: 5%;
}

.rektangel_2 {
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  height: 50vh;
  width: 100%;
  z-index: 2;
}

.vandfarve_effekt_2 {
  position: absolute;
  width: 40vw;
  height: auto;
  z-index: 3;
}

.profil-photo_2 {
  position: absolute;
  margin-right: 10%;
  width: 20vw;
  height: 40vh;
  z-index: 4;
}

.profil-photo_2, .Vandfarve_effekt_2 {
  align-self: flex-end;
  top: 20%;
  bottom: 0%;
}

.container_profil_2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding-right: 45%;
  z-index: 5;
}

.navn_2, .bio_2 {
  align-self: center;
  width: 100%;
}

.navn_2 {
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  color:$color-secondary_beige;
}

.bio_2 {
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  color: $color-secondary_white;
}

.pil_op {
  bottom: 0%;
  margin-left: 15%;
  position: absolute;
  display: flex;
  z-index: 5;
}

.pil_op_link:hover {
  opacity: 0.8;
}

.pil_op_img {
  width: 5vw;
  height: auto;
  cursor: pointer;
}

.video_1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  padding-bottom: 10%;
}

.video_1_str {
  width: 60vw;
}


/* ydelser */
.baggrund_ydelser {
  background-color: $color-secondary_white;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 4%;
  position: relative;
  border-radius: 15%;
  z-index: 2;
}

.container_ydelser {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.ydelser {
  font-family: "Rock Salt";
  font-size: 2rem;
  color: $color-primary_blå;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: auto;
}

.video_2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.video_2_str {
  width: 40vw;
  max-width: 100%;
}

.ydelser_tekst {
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  color: $color-primary_blå;
  display: flex;
  padding-top: 4%;
  text-align: left;
  margin-left: 10%;
  width: 45%;
  word-wrap: break-word;
}

.pil_op_højre {
  bottom: -4%;
  position: absolute;
  right: 15%;
  display: flex;
  align-items: flex-end;
}

.pil_op_link:hover {
  opacity: 0.8;
}

.pil_op_img_højre {
  width: 5vw;
  height: auto;
  cursor: pointer;
}

/* cases */
.baggrund_cases {
  background-color: $color-primary_blå;
  border-radius: 15%;
  padding: 2%;
  margin-top: 5%;
}

.cases {
  font-family: "Rock Salt";
  font-size: 2rem;
  color: $color-secondary_white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.effekt_cases {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.img_container {
  display: flex;
  flex-wrap: nowrap;
  transition: 0.5s ease;
  padding: 2%;
  justify-content: center;
}

.case_photo {
  max-width: calc(33.333% - 4vw);
  margin: 0 2vw;
  display: none;
}

.pil_container {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  padding: 1%;
}

.pil_cases {
  width: 3vw;
  height: auto;
  display: block;
  transform: rotate(90deg);
}

.prikker {
  display: flex;
  justify-content: center;
}

.prikker_1 {
  width: 10vw;
}

.pil_op_venstre {
  margin-left: 15%;
  position: absolute;
  display: flex;
  z-index: 5;
}

.pil_op_link:hover {
  opacity: 0.8;
}

.pil_op_img {
  width: 5vw;
  height: auto;
  cursor: pointer;
}

/* kontakt */
.baggrund_kontakt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5%;
}

.kontakt {
  width: 50%;
  height: auto;
  margin-left: 22%;
  margin-right: 22%;
}

/* footer */
.pil_op_højre_footer {
  padding-top: 2%;
  position: absolute;
  right: 15%;
  display: flex;
  align-items: flex-end;
  margin-top: -5%;
  z-index: 2;
}

.pil_op_link:hover {
  opacity: 0.8;
}

.pil_op_img_højre {
  width: 5vw;
  height: auto;
  cursor: pointer;
}

.footer {
  position: relative;
  margin-top: 5%;
  width: 100%;
  height: 40vh;
  background-color: $color-primary_pink;
}

.footer_tekst {
  position: absolute;
  color: $color-secondary_white;
  font-size: 2rem;
  font-family: "Rock Salt";
  word-wrap: break-word;
  margin-left: 8%;
  padding: 2%;
}

.sm_logo {
  position: relative;
  margin-left: 60%;
  padding-top: 5%;
  display: flex;
  gap: 10%;
}

/* ipads og lign */
@media only screen and (max-width: 1180px){
   /* header */
   .header {
    height: 20vh;
  }
  
  .logo {
    height: 10vh;
    padding: 8%;
  }
  .wave {
    height: 7vh;
  }

  .header_link a {
      font-size: 1.7rem;
    }
  
  /* intro */
  .baggrund_intro {
    height: 82vh;
  }

  .overskrift_1, .overskrift_2 {
    padding-top: 5%;
    font-size: 2rem;
  }
  .intro_text {
    padding-top: 2%;
    font-size: 1.7rem;
  }
  .form {
    margin-top: 40vh;
    left: 0;
    width: 100%;
  }
  .form img {
    width: 50vh;
  }

/* striber */
.vandfald_1 {
  margin-top: 56vh;
  width: 24%;
}

  /* hvem */
  .container_1 {
    margin-top: 10%;
  }

  .hvem {
  font-size: 2rem;
  justify-content: left;
  margin-left: 30%;
  max-width:fit-content
  }

  .parent-container_1 {
    position: relative;
    height: 65vh;
  }
  
  .rektangel_1 {
    margin-top: 35%;
    height: 47%;
    width: 100%;
  }
  
  .vandfarve_effekt_1 {
    width: 100%;
    height: 45%;
  }
  
  .profil-photo_1 {
    width: auto;
    height: 40%;
    margin-left: 32%;
    top: 0%;
  }
  
  .container_profil_1 {
    margin-top: 36%;
    padding-left: 7%;
  }
  
  .navn_1 {
    font-size: 2rem;
  }
  
  .bio_1 {
    font-size: 1.6rem;
  }
  
  .parent-container_2 {
    height: 45vh;
    padding-top: 20%;
  }
  
  .rektangel_2 {
    margin-top: 8%;
    height: 64%;
    width: 100%;
  }
  
  .vandfarve_effekt_2 {
    width: 100%;
    height: 68%;
    margin-bottom: 62%;
  }
  
  .profil-photo_2 {
    width: 35%;
    height: auto;
    margin-right: 33%;
    margin-bottom: 32%;
  }
  
  .container_profil_2 {
    margin-top: 8%;
    padding-right: 20%;
  }
  
  .navn_2 {
    font-size: 2rem;
  }
  
  .bio_2 {
    font-size: 1.6rem;
  }
  
  .pil_op {
    bottom: -6%;
  }
  
  .video_1_str {
    width: 80%;
  }
  
  /* ydelser */
  .baggrund_ydelser {
    border-radius: 10%;
  }

  .container_ydelser {
    display: flex;
    flex-direction: column;
}

  .ydelser {
    font-size: 2rem;
  }
  
  .video_2_str {
    width: 90%;
    margin-left: 5%;
  }
  
  .ydelser_tekst {
    font-size: 1.6rem;
    width: 80%;
    margin-left: 6%;
  }
  
  .pil_op_højre {
    bottom: -2%;
  }

  .pil_op_img_højre {
    width: 8vw;
  }
  
  /* cases */
  .cases {
    font-size: 2rem;
  }
  
  .pil_cases {
    width: 8vw;
  }
  
  .prikker_1 {
    width: 10vw;
  }

  .pil_op_img {
    width: 8vw;
  }
  
  /* footer */
  
  .footer {
    height: 20%;
  }
  
  .footer_tekst {
    font-size: 1.2rem;
    margin-left: 3%;
    padding-top: 5%;
  }
  
  .sm_logo {
    margin-left: 85%;
    display: flex;
    flex-direction: column;
    width: 9%;
    padding-top: 2%;
  }

  #sm_logo_id {
   padding: 15%;
  }
}

@media only screen and (max-width: 768px){
  /* header */
  .header {
    height: 17vh;
  }
  
  .logo {
    height: 12vh;
    padding: 8%;
  }
  .wave {

    height: 6vh;
  }
  .header_link {
    gap: 0.2rem;
    padding-bottom: 5%;
    padding-right: 2%;
  }
  .header_link a {
      font-size: 1.6rem;
    }
  
  /* intro */
  .baggrund_intro {
    height: 70vh;
  }

  .overskrift_1, .overskrift_2 {
    padding-top: 5%;
    font-size: 1.8rem;
  }
  .intro_text {
    font-size: 1.6rem;
  }
  .form {
    margin-top: 67%;
    left: 0;
    width: 100%;
  }
  .form img {
    width: 30vh;
  }

/* striber */
.vandfald_1 {
  margin-top: 56vh;
  width: 22%;
}

  /* hvem */
  .container_1 {
    margin-top: 6%;
  }

  .hvem {
  font-size: 1.8rem;
  margin-left: 26%;
  }

  .rektangel_1 {
    margin-top: 30%;
  }
  
  .vandfarve_effekt_1 {
    height: 43%;
  }
  
  .profil-photo_1 {
    width: auto;
    height: 40%;
  }
  
  .container_profil_1 {
    margin-top: 32%;
    padding-left: 7%;
  }
  
  .navn_1 {
    font-size: 1.8rem;
  }
  
  .bio_1 {
    font-size: 1.5rem;
  }
  
  .parent-container_2 {
    height: 45vh;
    padding-top: 5%;
  }
  
  .rektangel_2 {
    margin-top: 8%;
    height: 70%;
    width: 100%;
  }
  
  .vandfarve_effekt_2 {
    height: 65%;
    margin-bottom: 60%;
  }
  
  .profil-photo_2 {
    position: absolute;
    width: 30%;
    height: auto;
    margin-right: 36%;
    margin-bottom: 50%;
  }
  
  .navn_2 {
    font-size: 1.8rem;
  }
  
  .bio_2 {
    font-size: 1.5rem;
  }
  
  .pil_op {
    bottom: 0%;
  }
  
  .video_1_str {
    width: 80%;
  }
  
  /* ydelser */
  .ydelser {
    font-size: 2rem;
  }
  
  .video_2_str {
    width: 80%;
    margin-left: 10%;
  }
  
  .ydelser_tekst {
    font-size: 1.6rem;
    margin-left: 10%;
  }
  
  /* cases */
  .cases {
    font-size: 2rem;
  }
  
  /* footer */
  .footer {
    height: 23%;
  }
  
  .footer_tekst {
    font-size: 1.2rem;
    margin-left: 5%;
    padding-top: 6%;
  }

  #sm_logo_id {
   padding: 15%;
  }
}


 /* mobiler og andre små skærme */
@media only screen and (max-width: 500px){
    /* header */
    .header {
      height: 17vh;
    }
    
    .logo {
      height: 10vh;
      padding: 10%;
    }
    .wave {
      height: 6vh;
    }
    .header_link {
      gap: 0.2rem;
      padding-right: 5%;
    }
    .header_link a {
        font-size: 1rem;
      }
    
    /* intro */
    .baggrund_intro {
      height: 65vh;
    }
  
    .overskrift_1, .overskrift_2 {
      font-size: 1.2rem;
    }
    .intro_text {
      font-size: 1.1rem;
    }
    .form {
      margin-top: 95%;
    }
  
  /* striber */
  .vandfald_1 {
    width: 28%;
  }
  
    /* hvem */
    .container_1 {
      margin-top: 2%;
    }
  
    .hvem {
    font-size: 1.2rem;
    margin-left: 18%;
    }
  
    .rektangel_1 {
      margin-top: 40%;
    }
    
    .vandfarve_effekt_1 {
      height: 35%;
    }
    
    .profil-photo_1 {
      width: auto;
      height: 30%;
    }
    
    .container_profil_1 {
      margin-top: 45%;
      padding-left: 5%;
    }
    
    .navn_1 {
      font-size: 1.3rem;
    }
    
    .bio_1 {
      font-size: 1.1rem;
    }
    
    .parent-container_2 {
      height: 45vh;
    }
    
    .rektangel_2 {
      margin-top: 8%;
      height: 70%;
      width: 100%;
    }
    
    .vandfarve_effekt_2 {
      height: 48%;
      margin-bottom: 100%;
    }
    
    .profil-photo_2 {
      width: 40%;
      margin-right: 32%;
      margin-bottom: 75%;
    }

    .container_profil_2 {
      padding-left: 5%;
      padding-right: 5%;
    }
    
    .navn_2 {
      font-size: 1.3rem;
    }
    
    .bio_2 {
      font-size: 1.1rem;
    }
    
    .pil_op {
      bottom: 6%;
    }
    
    .video_1_str {
      width: 80%;
    }
    
    /* ydelser */
    .ydelser {
      font-size: 1.2rem;
    }
    
    .video_2_str {
      width: 90%;
      margin-left: 5%;
    }
    
    .ydelser_tekst {
      font-size: 1.1rem;
      margin-left: 10%;
    }
    
    /* cases */
    .cases {
      font-size: 1.2rem;
    }
    
    /* footer */
    
    .footer_tekst {
      font-size: 0.8rem;
      margin-left: 5%;
      padding-top: 3%;
    }
}

 /* mobiler og andre små skærme */
 @media only screen and (max-width: 430px){
  /* header */
  .header {
    height: 17vh;
  }

   /* intro */
   .baggrund_intro {
    height: 65vh;
  }

  .overskrift_1, .overskrift_2 {
    font-size: 1.3rem;
  }
  .intro_text {
    font-size: 1.2rem;
  }

  .form {
    margin-top: 100%;
  }

  /* striber */
  .vandfald_1 {
    width: 27%;
  }
  }

   /* mobiler og andre små skærme */
 @media only screen and (max-width: 390px){
  /* header */
  .header {
    height: 17vh;
  }

   /* intro */
   .baggrund_intro {
    height: 60vh;
  }
  .form {
    margin-top: 100%;
    margin-left: 20%;
  }
  .form img {
    width: 20vh;
  }

  /* striber */
  .vandfald_1 {
    width: 27.5%;
  }

   /* hvem */
   .parent-container_2 {
    height: 40vh;
  }

  .navn_1 {
    font-size: 1.1rem;
  }
  
  .bio_1 {
    font-size: 1rem;
  }

  .vandfarve_effekt_2 {
    height: 60%;
    margin-bottom: 90%;
  }
  
  .profil-photo_2 {
    width: 38%;
    height: auto;
    margin-bottom: 65%;
  }

  .navn_2 {
    font-size: 1.1rem;
  }
  
  .bio_2 {
    font-size: 1rem;
  }

  .pil_op {
    bottom: 3%;
  }
  }
  
   /* mobiler og andre små skærme */
 @media only screen and (max-width: 375px){
  /* header */
  .header {
    height: 17vh;
  }

   /* intro */
   .baggrund_intro {
    height: 60vh;
  }

  .overskrift_1, .overskrift_2 {
    font-size: 1rem;
  }
  .intro_text {
    font-size: 0.9rem;
  }

  .form {
    margin-top: 70%;
    margin-left: 0%;
  }
  .form img {
    width: 30vh;
  }

  /* striber */
  .vandfald_1 {
    width: 27%;
  }

   /* hvem */
   .parent-container_2 {
    height: 40vh;
  }

  .profil-photo_1 {
    height: 35%;
    margin-bottom: 50%;
  }

  .navn_1 {
    font-size: 1.1rem;
  }
  
  .bio_1 {
    font-size: 0.8rem;
  }

  .vandfarve_effekt_2 {
    height: 60%;
    margin-bottom: 80%;
  }
  
  .profil-photo_2 {
    width: 34%;
    height: auto;
    margin-bottom: 50%;
  }

  .container_profil_2 {
    padding-right: 14%;
  }

  .navn_2 {
    font-size: 1.1rem;
  }
  
  .bio_2 {
    font-size: 0.8rem;
  }

  .pil_op {
    bottom: 3%;
  }

  }
  