* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

$color-primary_pink: #F7B09C;
$color-primary_blå: #A5BFB3;
$color-primary_gul: #E8B665;
$color-secondary_beige: #EFE9DB;
$color-secondary_offwhite: #F6F6EE;
$color-secondary_white: #FFFFFF;
$color-hover:#CCCCCC;


body {
  font-size: 1rem;
  background-color: $color-secondary_offwhite;
}

/* header */
.header {
  position: relative;
  width: 100%;
  height: 30vh;
  background-color: $color-primary_pink;
  display: flex;
  position: relative;
  overflow: hidden;
}

.logo {
  width: auto;
  height: 20vh;
  padding: 5%;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  margin: 0%;
}

.header_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  gap: 1rem;
  padding-bottom: 10%;
  margin-top: 5%;
}

.header_link a {
  color: $color-secondary_white;
  font-size: 2.5em;
  font-family: "Karla", sans-serif;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 5%;
}

.header_link a:link, .header_link a:visited {
  color: $color-secondary_white;
  text-decoration: none;
}

.header_link a:hover, .header_link a:focus {
  color: $color-hover;
  text-decoration: none;
}

/* intro */
.baggrund_intro {
  background-color: $color-secondary_white;
  height: 80vh;
}

.indhold_intro {
  display: flex;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}

.container_intro {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.overskrift_1, .overskrift_2 {
  font-size: 2.5rem;
}

.overskrift_1 {
  color: $color-primary_pink;
  font-family: "Karla", sans-serif;
}

.overskrift_2 {
  color: $color-secondary_beige;
  font-family: "Rock Salt";
}

.intro_text {
  padding-top: 5%;
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  color: $color-primary_pink;
  z-index: 100;
}

.form {
  position: absolute;
  margin-top: 10%;
  left: 50%;
  z-index: 1;
}

.form img {
  width: 34rem;
}

/* striber */
.vandfald {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 0%;
  z-index: 1;
}

.vandfald_1 {
  position: absolute;
  margin-top: 32%;
}

.video_1, .baggrund_cases, .baggrund_kontakt, .footer {
  position: relative;
  z-index: 2;
}

/* Hvem er vi */
.baggrund_hvem {
  background-color: $color-secondary_offwhite;
}

.container_1 {
  position: relative;
}

.container_2 {
  position: relative;
  margin-bottom: 2%;
}

.hvem {
  font-family: "Rock Salt";
  font-size: 2rem;
  color: $color-primary_pink;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.parent-container_1 {
  position: relative;
  height: 60vh;
  padding-top: 1%;
  margin: 0%;
}

.rektangel_1 {
  position: absolute;
  margin-left: 0%;
  margin-right: 0%;
  height: 50vh;
  width: 100%;
  z-index: 2;
}

.vandfarve_effekt_1 {
  position: absolute;
  width: 40vw;
  height: auto;
  z-index: 3;
}

.profil-photo_1 {
  width: 18vw;
  height: 40vh;
  margin-left: 10%;
  top: 10%;
  position: absolute;
  z-index: 4;
}

.container_profil_1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding-left: 50%;
  padding-top: 5%;
  z-index: 5;
}

.navn_1, .bio_1 {
  display: block;
  width: 100%;
}

.navn_1 {
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  color: $color-secondary_beige;
}

.bio_1 {
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  color: $color-secondary_white;
}

.parent-container_2 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 0%;
  margin-right: 0%;
  height: 60vh;
  padding-top: 5%;
}

.rektangel_2 {
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  height: 50vh;
  width: 100%;
  z-index: 2;
}

.vandfarve_effekt_2 {
  position: absolute;
  width: 40vw;
  height: auto;
  z-index: 3;
}

.profil-photo_2 {
  position: absolute;
  margin-right: 10%;
  width: 20vw;
  height: 40vh;
  z-index: 4;
}

.profil-photo_2, .Vandfarve_effekt_2 {
  align-self: flex-end;
  top: 20%;
  bottom: 0%;
}

.container_profil_2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding-right: 45%;
  z-index: 5;
}

.navn_2, .bio_2 {
  align-self: center;
  width: 100%;
}

.navn_2 {
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  color:$color-secondary_beige;
}

.bio_2 {
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  color: $color-secondary_white;
}

.pil_op {
  bottom: 0%;
  margin-left: 15%;
  position: absolute;
  display: flex;
  z-index: 5;
}

.pil_op_link:hover {
  opacity: 0.8;
}

.pil_op_img {
  width: 5vw;
  height: auto;
  cursor: pointer;
}

.video_1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  padding-bottom: 10%;
}

.video_1_str {
  width: 60vw;
}


/* ydelser */
.baggrund_ydelser {
  background-color: $color-secondary_white;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 4%;
  position: relative;
  border-radius: 15%;
  z-index: 2;
}

.container_ydelser {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.ydelser {
  font-family: "Rock Salt";
  font-size: 2rem;
  color: $color-primary_blå;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: auto;
}

.video_2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.video_2_str {
  width: 40vw;
  max-width: 100%;
}

.ydelser_tekst {
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  color: $color-primary_blå;
  display: flex;
  padding-top: 4%;
  text-align: left;
  margin-left: 10%;
  width: 45%;
  word-wrap: break-word;
}

.pil_op_højre {
  bottom: -4%;
  position: absolute;
  right: 15%;
  display: flex;
  align-items: flex-end;
}

.pil_op_link:hover {
  opacity: 0.8;
}

.pil_op_img_højre {
  width: 5vw;
  height: auto;
  cursor: pointer;
}

/* cases */
.baggrund_cases {
  background-color: $color-primary_blå;
  border-radius: 15%;
  padding: 2%;
  margin-top: 5%;
}

.cases {
  font-family: "Rock Salt";
  font-size: 2rem;
  color: $color-secondary_white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.effekt_cases {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.img_container {
  display: flex;
  flex-wrap: nowrap;
  transition: 0.5s ease;
  padding: 2%;
  justify-content: center;
}

.case_photo {
  max-width: calc(33.333% - 4vw);
  margin: 0 2vw;
  display: none;
}

.pil_container {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  padding: 1%;
}

.pil_cases {
  width: 3vw;
  height: auto;
  display: block;
  transform: rotate(90deg);
}

.prikker {
  display: flex;
  justify-content: center;
}

.prikker_1 {
  width: 10vw;
}

.pil_op_venstre {
  margin-left: 15%;
  position: absolute;
  display: flex;
  z-index: 5;
}

.pil_op_link:hover {
  opacity: 0.8;
}

.pil_op_img {
  width: 5vw;
  height: auto;
  cursor: pointer;
}

/* kontakt */
.baggrund_kontakt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5%;
}

.kontakt {
  width: 50%;
  height: auto;
  margin-left: 22%;
  margin-right: 22%;
}

/* footer */
.pil_op_højre_footer {
  padding-top: 2%;
  position: absolute;
  right: 15%;
  display: flex;
  align-items: flex-end;
  margin-top: -5%;
  z-index: 2;
}

.pil_op_link:hover {
  opacity: 0.8;
}

.pil_op_img_højre {
  width: 5vw;
  height: auto;
  cursor: pointer;
}

.footer {
  position: relative;
  margin-top: 5%;
  width: 100%;
  height: 40vh;
  background-color: $color-primary_pink;
}

.footer_tekst {
  position: absolute;
  color: $color-secondary_white;
  font-size: 2rem;
  font-family: "Rock Salt";
  word-wrap: break-word;
  margin-left: 8%;
  padding: 2%;
}

.sm_logo {
  position: relative;
  margin-left: 60%;
  padding-top: 5%;
  display: flex;
  gap: 10%;
}

/* lille skærm  */
@media only screen and (max-width: 412px) {

  /* header */
  .header {
    height: 15vh;
  }
  
  .logo {
    height: 8vh;
    padding: 4%;
  }
  .wave {
    height: 5vh;
  }
  .header_link {
    gap: 0.2rem;
    padding-bottom: 5%;
    padding-right: 2%;
  }
  .header_link a {
      font-size: 1rem;
    }
  
  /* intro */
  .baggrund_intro {
    height: 70vh;
  }

  .overskrift_1, .overskrift_2 {
    padding-top: 5%;
    font-size: 1.2rem;
  }
  .intro_text {
    padding-top: 2%;
    font-size: 1rem;
  }
  .form {
    margin-top: 46vh;
    left: 0;
    width: 100%;
  }
  .form img {
    width: 30vh;
  }

/* striber */
.vandfald_1 {
  margin-top: 56vh;
  width: 26.5%;
}

  /* hvem */
  .container_1 {
    margin-top: 10%;
  }

  .hvem {
  font-size: 1rem;
  justify-content: left;
  margin-left: 30%;
  max-width:fit-content
  }

  .parent-container_1 {
    position: relative;
    height: 65vh;
  }
  
  .rektangel_1 {
    margin-top: 40%;
    height: 42%;
    width: 100%;
  }
  
  .vandfarve_effekt_1 {
    width: 100%;
    height: 33%;
  }
  
  .profil-photo_1 {
    width: 37%;
    height: 36%;
    margin-left: 30%;
    top: 0%;
  }
  
  .container_profil_1 {
    margin-top: 46%;
    padding-left: 7%;
  }
  
  .navn_1 {
    font-size: 1.2rem;
  }
  
  .bio_1 {
    font-size: 0.9rem;
  }
  
  .parent-container_2 {
    height: 45vh;
    padding-top: 5%;
  }
  
  .rektangel_2 {
    margin-top: 8%;
    height: 60%;
    width: 100%;
  }
  
  .vandfarve_effekt_2 {
    width: 100%;
    height: 60%;
    margin-bottom: 80%;
    left: 1%;
  }
  
  .profil-photo_2 {
    width: 40%;
    height: auto;
    margin-right: 33%;
    margin-bottom: 30vh;
  }
  
  .container_profil_2 {
    margin-top: 8%;
    padding-right: 8%;
  }
  
  .navn_2 {
    font-size: 1.2rem;
  }
  
  .bio_2 {
    font-size: 0.9rem;
  }
  
  .pil_op {
    bottom: 5%;
  }
  
  .video_1_str {
    width: 80vw;
  }
  
  /* ydelser */
  .baggrund_ydelser {
    border-radius: 10%;
  }

  .container_ydelser {
    display: flex;
    flex-direction: column;
}

  .ydelser {
    font-size: 1.2rem;
  }
  
  .video_2_str {
    width: 80vw;
    margin-left: 6%;
  }
  
  .ydelser_tekst {
    font-size: 0.9rem;
    width: 80vw;
    margin-left: 10%;
  }
  
  .pil_op_højre {
    bottom: -2%;
  }

  .pil_op_img_højre {
    width: 8vw;
  }
  
  /* cases */
  .cases {
    font-size: 1rem;
  }
  
  .pil_cases {
    width: 8vw;
  }
  
  .prikker_1 {
    width: 10vw;
  }

  .pil_op_img {
    width: 8vw;
  }
  
  /* footer */
  
  .footer {
    height: 15vh;
  }
  
  .footer_tekst {
    font-size: 0.7rem;
    margin-left: 3%;
    padding-top: 5%;
  }
  
  .sm_logo {
    margin-left: 85%;
    display: flex;
    flex-direction: column;
    width: 9%;
    padding-top: 2%;
  }

  #sm_logo_id {
   padding: 15%;
  }
}

@media only screen and (max-width: 392px) {

  /* striber */
.vandfald_1 {
  margin-top: 56vh;
  width: 28%;
}

  /* hvem */
.container_profil_2 {
  padding-right: 6%;
}

  /* footer */
.sm_logo {
  width: 9%;
}
}

@media only screen and (max-width: 372px) {

  /* striber */
.vandfald_1 {
  margin-top: 56vh;
  width: 28%;
}

  /* hvem */
  .profil-photo_1 {
    width: 37%;
    height: 34%;
  }

  .parent-container_2 {
    height: 38vh;
  }

  .container_profil_2 {
    padding-right: 0%;
  }
}

@media only screen and (max-width: 352px) {

  /* striber */
.vandfald_1 {
  margin-top: 56vh;
  width: 29%;
}

  /* hvem */

  .hvem {
    margin-left: 10%;
    }

    .parent-container_1 {
      position: relative;
      height: 63vh;
    }

  .profil-photo_1 {
    width: 32%;
    height: 28%;
  }

  .rektangel_1 {
    height: 35%;
  }

  .navn_1 {
    font-size: 1rem;
  }
  
  .bio_1 {
    font-size: 0.8rem;
  }

  .parent-container_2 {
    height: 35vh;
  }

  .vandfarve_effekt_2 {
    margin-bottom: 95%;
  }

  .rektangel_2 {
    height: 68%;
  }
  
  .container_profil_2 {
    padding-right: 3%;
  }

  .navn_2 {
    font-size: 1rem;
  }
  
  .bio_2 {
    font-size: 0.8rem;
  }
}